<div class="dashboard-popup__pop-up-bar active js-dashboard-hero-pop-up">
  <div class="container container--small">
    <div class="dashboard-popup__pop-up-bar-inner">
      <p>{{ notification_text }}</p>
      <a class="close js-dashboard-hero-pop-up-close" href="#">
        {% render 'icon', icon: 'close' %}
      </a>
    </div>
  </div>
</div>
