 <div class="pl-search-results-names">
   <div class="pl-search-results__item-names">
     <div class="pl-search-results__item-name-img">
     </div>
     <div class="pl-search-results__item-name-id">
       <h5> SKU </h5>
     </div>
     <div class="pl-search-results__item-name">
       <h5>name</h5>
     </div>
     <div class="pl-search-results__item-name-description">
       <h5>description </h5>
     </div>
     <div class="pl-search-results__item-name-sale">
       <h5> WHOLESALE / <span class="cyan"> RETAIL </span></h5>
     </div>
   </div>
 </div>
