<div class="popup js-popup-bis" id="popup-bis" data-popup>
  <div class="popup__background" data-popup-button="close"></div><!-- /.popup__background -->

  <div class="popup__inner">
    <button class="popup__close" data-popup-button="close">
      {%- render 'icon' with 'close' -%}
    </button><!-- /.popup__close -->

    <div class="popup__content">
      {%- render 'form-bis' -%}
    </div><!-- /.popup__content -->
  </div><!-- /.popup__inner -->
</div><!-- /.popup -->
