<div class="pl-search-results__item js-single-item-gallery">
  <div class="pl-search-results__img js-single-gallery-open">
    <img src="https://i.ibb.co/y47xVND/Black-Scout-Geared-Website-1.jpg" loading="lazy" width="" height="" alt="">
  </div>
  <div class="pl-search-results__id">
    <span>SPMBB4813A </span>
  </div>
  <div class="pl-search-results__name">
    <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

  </div>
  <div class="pl-search-results__description">
    <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
    <span class="pl-tooltip js-tooltip" data-tippy-content="I'm a tooltip! I'm a tooltip!I'm a tooltip!I'm a tooltip!I'm a tooltip!">
      {% render 'icon', icon: 'warining-grey' %} </span>

  </div>
  <div class="pl-search-results__cta">
    <!-- sold out version-->
    <!-- <div class="pl-search-results__price pl-search-results__price--soldout">
      <span class="pl-sold-out"> sold out</span>
    </div> -->
    <div class="pl-search-results__price">
      <p>$2400 / <span>$3800</span></p>
    </div>

    <div class="pl-search-results__counter">
      <div class="input-increment js-input-increment disable-decrease">
        <button type="button" class="input-increment__cta
                                    js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
        <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
          name="quantity" value="1" min="1" pattern="[0-9]*" />
        <button type="button" class="input-increment__cta
                                    js-number-increase">{% render 'icon', icon: 'plus' %}</button>
      </div>
    </div>
    <div class="pl-search-results__btn">
      <a href="#" class="btn btn--blue-fill">Add To Cart</a>
    </div>
  </div>
  <div class="single-gallery-popup js-single-gallery-popup">
    <a class="close-single-gallery js-close-single-gallery" href="#"> {% render 'icon', icon: 'close' %}</a>
    <img src=" https://via.placeholder.com/750x750" width="" height="" loading="lazy" alt="Image description" />
  </div>
</div>
