<div class="range-slider {% if template contains 'quiz' %} range-slider--quiz{% endif%} ">
  <div class="noUiSlider-wrapper">
    <div class="slider-range {{class}}"></div>
    <span class="height-wrapper"><span class="slider-range-value {{valueClass}}"></span> in</span>
  </div>
</div>
