/* ------------------------------------------------------------ *
  Article Tags
* ------------------------------------------------------------ */

.article-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem(-6) rem(-6) 0;

  li {
    margin: 0 rem(6) rem(6) 0;

    &:last-of-type {
      margin-right: 0;
    }
  }

  a,
  span {
    display: block;
    background-color: $aliceblue;
    font-size: rem(14);
    line-height: rem(16);
    color: $steelblue;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: center;
  }

  a {
    min-width: rem(84);
    padding: rem(8) rem(21);
    transition: opacity $t-hover;

    &:hover {
      opacity: 0.8;
    }
  }

  span {
    padding: calc(rem(16) - 1.5px) rem(8);
  }

  svg {
    display: block;
  }
}
