/* ------------------------------------------------------------ *\
  Article Images
\* ------------------------------------------------------------ */

.article-images {
  position: relative;
  font-family: $regular-font;
  font-size: rem(16);
  line-height: line-height(16, 24);

  @include media-breakpoint-down(sm) {
    font-size: rem(14);
    line-height: line-height(14, 24);
  }

  &__inner {
    display: flex;
    max-width: rem(774+40);
    margin: 0 rem(-20);

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      margin: 0;

      > :first-child {
        margin-right: rem(16);
      }
    }
  }

  &__col {
    width: calc(50% - rem(40));
    margin: 0 rem(20);

    @include media-breakpoint-down(sm) {
      margin: 0;

      :first {
        margin-right: rem(18);
      }
    }
  }

  &__info {
    position: absolute;
    top: 0;
    left: rem(-315);
    width: rem(264);
    font-family: $regular-font;

    @include media-breakpoint-down(md) {
      left: rem(-248);
      width: rem(216);
    }

    @include media-breakpoint-down(sm) {
      position: relative;
      width: 100%;
      left: 0;
      top: 0;
      padding-top: 40px;
    }

    @include media-breakpoint-down(xs) {
      width: rem(264);
    }

    p {
      margin-bottom: rem(24);
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      color: $grey-light;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $cyan;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      strong {
        font-weight: 600;
      }
    }
  }
}
