.find-perfect {
  padding: rem(90) 0;

  @include media-breakpoint-down(sm) {
    padding: rem(88) 0;
  }

  p {
    margin-bottom: rem(15);
    font-size: rem(12);
    line-height: line-height(12, 12);
    font-weight: 700;
    text-transform: uppercase;
    color: $divider-grey;

    @include media-breakpoint-down(sm) {
      margin-bottom: rem(16);
    }
  }

  h2 {
    max-width: rem(440);
    font-size: rem(40);
    line-height: line-height(40, 50);
    color: $white;

    @include media-breakpoint-down(sm) {
      max-width: rem(292);
      font-size: rem(28);
      line-height: line-height(28, 36);
    }
  }

  &__cta {
    margin-top: rem(168);

    @include media-breakpoint-down(sm) {
      margin-top: rem(56);
    }

    .btn {
      min-width: rem(206);
      border-color: transparent;
      @include media-breakpoint-down(sm) {
        min-width: rem(175);
      }
    }
  }
}
