$go-cart-modal-width: 420px;
$go-cart-modal-height: 220px;
$go-cart-modal-bg: #ffffff;
$go-cart-drawer-width: rem(500);
$go-cart-drawer-header-height: rem(72);
$go-cart-drawer-footer-height: rem(184);
$go-cart-drawer-bg: #ffffff;
$go-cart-mini-cart-width: 480px;
$go-cart-mini-cart-height: 480px;
$go-cart-mini-cart-footer-height: 149px;
$go-cart-mini-cart-subtotal-height: 85px;
$go-cart-mini-cart-bg: #ffffff;
$go-cart-overlay-bg: rgba(0, 0, 0, 0.8);
$go-cart-transition: all 0.3s ease-in-out;
$go-cart-item-border: #e5e5e5;
$go-cart-quantity-number-color: #000000;
$go-cart-quantity-button-border: #f5f5f5;
$go-cart-side-spacing: 24px;
$go-cart-side-spacing-mobile: 16px;

.go-cart {
  &__modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 111;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: $go-cart-modal-width;
    height: $go-cart-modal-height;
    background-color: $go-cart-modal-bg;
    transition: $go-cart-transition;
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;

    &.is-open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1040;
    background-color: $go-cart-overlay-bg;
    transition: $go-cart-transition;
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;

    &.is-open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__drawer {
    position: fixed;
    top: 0;
    right: -#{$go-cart-drawer-width};
    z-index: 1050;
    width: 100%;
    max-width: $go-cart-drawer-width;
    height: 100%;
    background-color: $go-cart-drawer-bg;
    transition: $go-cart-transition;
    backface-visibility: hidden;

    @include media-breakpoint-down(xs) {
      max-width: 100%;
      right: -100%;
    }

    &.is-open {
      transform: translateX(-#{$go-cart-drawer-width});
      @include media-breakpoint-down(xs) {
        transform: translateX(-100%);
      }
    }

    &--left {
      right: auto;
      left: -#{$go-cart-drawer-width};

      &.is-open {
        transform: translateX($go-cart-drawer-width);
      }
    }
  }

  &__mini-cart {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 40;
    width: $go-cart-mini-cart-width;
    height: $go-cart-mini-cart-height;
    background-color: $go-cart-mini-cart-bg;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    cursor: auto;
    backface-visibility: hidden;

    &.is-open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__empty {
    text-align: center;
    padding: rem(40) 0;
  }

  &__trigger {
    position: relative;
    cursor: pointer;
    display: none;
  }

  &__button {
    // background: black;
    // color: white;
    padding: rem(14) rem(10);
    font-size: rem(17);
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
    border-color: $cyan;
  }

  &__link {
    margin: rem(8) auto 0;
    display: block;
    font-size: rem(14);
    line-height: line-height(14, 32);
    font-weight: 700;
    color: $white;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}

.go-cart-modal {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__close {
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 20px;
    line-height: 0;
    cursor: pointer;
  }

  &__content {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
}

.go-cart-drawer {
  position: relative;
  height: 100%;
  font-family: $regular-font;
  color: $machine-grey;

  &__header {
    position: relative;
    width: 100%;
    height: $go-cart-drawer-header-height;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: rem(22) rem($go-cart-side-spacing);

    @include media-breakpoint-down(xs) {
      padding-right: rem($go-cart-side-spacing-mobile);
      padding-left: rem($go-cart-side-spacing-mobile);
    }

    &:after {
      content: '';
      position: absolute;
      right: rem($go-cart-side-spacing);
      bottom: 0;
      left: rem($go-cart-side-spacing);
      height: 1px;
      background: #e5e5e5;

      @include media-breakpoint-down(xs) {
        right: rem($go-cart-side-spacing-mobile);
        left: rem($go-cart-side-spacing-mobile);
      }
    }

    .title {
      font-size: rem(22);
      line-height: line-height(22, 28);
      color: inherit;
      font-weight: normal;
    }
  }

  &__close {
    position: absolute;
    top: rem(16);
    right: rem($go-cart-side-spacing);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
    background-color: $off-white;
    transition: $go-cart-transition;

    @include media-breakpoint-down(xs) {
      right: rem($go-cart-side-spacing-mobile);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__content {
    height: calc(
      100% - #{$go-cart-drawer-footer-height} - #{$go-cart-drawer-header-height}
    );
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 rem($go-cart-side-spacing);

    @include media-breakpoint-down(xs) {
      padding: 0 rem($go-cart-side-spacing-mobile);
    }
  }

  &__subtotal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: rem(22);
    background-color: $machine-grey;

    span {
      display: block;
      font-size: rem(20);
      line-height: line-height(20, 28);
      font-weight: 700;
      color: $grey-light;
    }
  }

  &__subtotal-price {
    color: $white !important;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: $go-cart-drawer-footer-height;
    padding: rem(22) rem($go-cart-side-spacing);
    background-color: $machine-grey;

    @include media-breakpoint-down(xs) {
      padding-right: rem($go-cart-side-spacing-mobile);
      padding-left: rem($go-cart-side-spacing-mobile);
    }
  }
}

.go-cart-mini-cart {
  position: relative;

  &__content {
    position: relative;
    height: calc(
      #{$go-cart-mini-cart-height} - #{$go-cart-mini-cart-footer-height} - #{$go-cart-mini-cart-subtotal-height}
    );
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 30px;
  }

  &__subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $go-cart-mini-cart-subtotal-height;
    padding: 0 30px;
    transition: $go-cart-transition;
    background-color: $machine-grey;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: $go-cart-mini-cart-footer-height;
    text-align: center;
    padding: 20px 30px;
    transition: $go-cart-transition;
    background-color: $machine-grey;
  }
}

.go-cart-item {
  &__single {
    position: relative;
    padding: rem(24) 0;
    border-bottom: 1px solid #e5e5e5;
    transition: $go-cart-transition;

    &.is-loading {
      opacity: 0.6;
      pointer-events: none;
    }
  }

  &__info-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  &__info-header {
    position: relative;
    flex: 1 0 100%;
    padding-right: rem(60px);
    margin-bottom: rem(16);
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 calc(100% - rem(200));
    padding: rem(16) 0 0 rem(16);
    font-size: rem(15);
    line-height: line-height(15, 20);

    @include media-breakpoint-down(xs) {
      flex-basis: 60%;
      padding: rem(10) 0 0 rem(10);
      font-size: rem(14);
    }
  }

  &__image {
    display: block;
    width: rem(200);

    @include media-breakpoint-down(xs) {
      width: 40%;
    }
  }

  &__image-inner {
    padding-top: 75%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    font-size: rem(20);
    line-height: line-height(20, 24);
    font-weight: 700;
    color: $machine-grey;
  }

  &__variant {
    &:empty {
      display: none;
    }

    p {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
    }
  }

  &__quantity {
    padding-right: rem(110);

    @include media-breakpoint-down(xs) {
      padding-right: rem(90);
    }
  }

  &__quantity-label {
    display: block;
    margin-bottom: rem(6);
    color: #4e4c4d;
  }

  &__quantity-field {
    position: relative;
    width: rem(80);

    @include media-breakpoint-down(xs) {
      width: rem(70);
    }

    input {
      display: block;
      border: 1px solid currentColor;
      border-radius: rem(80);
      font-family: $regular-font;
    }
  }

  &__quantity-button {
    position: absolute;
    top: 1px;
    bottom: 1px;
    width: rem(24);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: $off-white;
    color: $grey-light;
    cursor: pointer;
    user-select: none;
    transition: $t-hover;

    &:hover:not(.is-disabled) {
      color: $machine-grey;
    }

    &.quantity-minus {
      left: 1px;
    }

    &.quantity-plus {
      right: 1px;
    }

    &.is-disabled {
      opacity: 0.2;
    }
  }

  &__quantity-number {
    height: rem(26);
    margin: 0;
    text-align: center;
    font-size: rem(15);
    color: $go-cart-quantity-number-color;
    border: none;
    outline: none;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
      display: none;
    }
  }

  &__price {
    position: absolute;
    right: 0;
    bottom: rem(2);
    font-size: rem(20);
    line-height: line-height(20, 24);
    color: $cyan;
    font-weight: 700;

    @include media-breakpoint-down(xs) {
      bottom: rem(4);
      font-size: rem(16);
    }
  }

  &__remove {
    position: absolute;
    top: rem(5);
    right: 0;
    z-index: 5;
    font-size: rem(14);
    line-height: line-height(14, 14);
    color: $grey-light;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

.go-cart-modal-item {
  position: relative;
  display: flex;

  &__info {
    max-width: 250px;
    padding: 10px 10px 10px 30px;
    line-height: 1.18;
  }

  &__image {
    width: 90px;
    height: 110px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.is-invisible {
  opacity: 0;
  visibility: hidden;
}
