.introducing {
  &__inner {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &__image {
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 52%;
    }

    @include media-breakpoint-up(lgxl) {
      width: 49%;
    }

    @include media-breakpoint-up(xsm) {
      width: 50%;
    }
  }

  &__text {
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 48%;
    }

    @include media-breakpoint-up(lgxl) {
      width: 51%;
    }

    @include media-breakpoint-up(xsm) {
      width: 50%;
    }
  }

  &__image {
    .media-wrapper {
      padding-bottom: 92.77%;

      @include media-breakpoint-up(md) {
        padding-bottom: 125%;

        img {
          height: 100%;
        }
      }

      @include media-breakpoint-up(lgxl) {
        padding-bottom: 127%;
      }

      @include media-breakpoint-up(xsm) {
        padding-bottom: 92.92%;

        img {
          height: auto;
        }
      }
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey-light-7;
    padding: rem(32) rem(20) rem(56) rem(20);

    @include media-breakpoint-up(md) {
      padding: 0 rem(20);
    }

    @include media-breakpoint-up(lgxl) {
      padding: 0 rem(20);
    }
  }

  &__text-content {
    max-width: rem(374);
    width: 100%;

    @include media-breakpoint-up(md) {
      max-width: rem(270);
    }

    @include media-breakpoint-up(lgxl) {
      max-width: rem(390);
    }

    .h2 {
      font-size: rem(28);
      line-height: rem(36);
      padding-bottom: rem(8);
      color: $machine-grey;

      @include media-breakpoint-up(md) {
        font-size: rem(32);
        line-height: rem(40);
        padding-bottom: rem(13);
      }

      @include media-breakpoint-up(lgxl) {
        font-size: rem(40);
        line-height: rem(54);
        padding-bottom: rem(13);
      }
    }

    p {
      font-size: rem(15);
      line-height: rem(25);
      padding-bottom: rem(32);
      color: $grey-light;

      @include media-breakpoint-up(md) {
        padding-bottom: rem(36);
        margin-right: 1px;
      }

      @include media-breakpoint-up(lgxl) {
        padding-bottom: rem(60);
        margin: 0;
      }
    }
  }
}
