.product-slider {
  position: relative;
  height: 100%;
  overflow: hidden;
  .swiper-slide {
    width: 100% !important;

    figure {
      height: 100%;
      &:not(:first-of-type) {
        display: none;
      }
    }

    .media-wrapper {
      padding-bottom: 0;
      height: rem(610);
      width: 100%;

      @include media-breakpoint-down(md) {
        height: rem(368);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding: 0 rem(60) rem(60);

      @include media-breakpoint-down(lg) {
        padding: 0 rem(60) rem(60) 0;
      }

      @include media-breakpoint-down(md) {
        padding: rem(20) 0 rem(60);
      }

      @include media-breakpoint-down(xs) {
        padding: rem(20) rem(20) rem(60);
      }
    }
  }

  &__btn-wrapper {
    position: absolute;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-column-gap: rem(10);
    right: rem(21);
    bottom: rem(18);
    width: rem(110);
    height: rem(50);
    padding-top: 20px !important;

    @include media-breakpoint-down(md) {
      right: 50%;
      bottom: 1;
      transform: translateX(50%);
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: relative;
      right: 0;
      left: 0;
      width: rem(50);
      height: rem(50);
      border-radius: 50%;
      background: rgba($grey-light-2, 0.15);

      &::after {
        display: none;
      }
    }
  }
}
