.scrolling-text {
  display: flex;
  overflow: hidden;

  > * {
    display: block;
    white-space: nowrap;
    padding-right: rem(100);
    will-change: transform;
    line-height: 1.4;

    span {
      padding-left: rem(100);
    }

    @include media-breakpoint-up(md) {
      padding-right: rem(250);

      span {
        padding-left: rem(250);
      }
    }
  }
}
