.user-added-card {
  max-width: rem(318);
  width: 100%;
  padding: rem(36) rem(31);
  border: 1px solid $grey-light-2;
  border-radius: rem(10);

  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }

  .media-wrapper {
    padding-bottom: 54.58%;
  }

  h3 {
    max-width: rem(205);
    margin: rem(31) 0 rem(19);
    font-size: rem(24);
    line-height: line-height(24, 34);
    font-weight: 500;
    color: $machine-grey;
  }

  span {
    display: block;
    margin-bottom: rem(7);
    font-size: rem(15);
    line-height: line-height(15, 15);
    font-weight: 600;
    color: $grey-light;
    strong {
      font-size: rem(14);
      line-height: line-height(14, 24);
      font-weight: 700;
      color: $machine-grey;
    }
  }

  .link {
    display: block;
    margin-top: rem(24);
    font-size: rem(14);
    line-height: line-height(14, 32);
    font-weight: 700;
    color: $cyan;
    text-transform: uppercase;
  }
}
