.text-image {
  @include media-breakpoint-up(xsm) {
    margin-top: rem(120);
  }
  .container {
    @include media-breakpoint-down(lgxl) {
      padding: 0;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &__image {
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 48%;
    }

    .media-wrapper {
      padding-bottom: 88.33%;

      @include media-breakpoint-up(md) {
        padding-bottom: 154.61%;

        img {
          height: 100%;
        }
      }

      @include media-breakpoint-up(lgxl) {
        padding-bottom: 114.25%;
      }

      @include media-breakpoint-up(xsm) {
        padding-bottom: 114.48%;
      }
    }
  }

  &__text {
    display: flex;
    align-items: center;
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 52%;
      justify-content: center;
    }
    @include media-breakpoint-up(xsm) {
      justify-content: flex-end;
    }
  }

  &__text-content {
    padding: rem(32) rem(20) rem(40) rem(20);

    @include media-breakpoint-up(md) {
      padding: 0;
      max-width: rem(325);
      width: 100%;
    }
    @include media-breakpoint-up(lgxl) {
      max-width: rem(390);
    }
    @include media-breakpoint-up(xsm) {
      max-width: rem(400);
    }
    .h2 {
      font-size: rem(28);
      line-height: rem(36);
      max-width: rem(265);
      padding-bottom: rem(8);

      @include media-breakpoint-up(md) {
        font-size: rem(32);
        line-height: rem(40);
        padding-bottom: rem(13);
        max-width: rem(378);
      }

      @include media-breakpoint-up(lgxl) {
        font-size: rem(40);
        line-height: rem(54);
      }
    }

    p {
      font-size: rem(15);
      line-height: rem(25);
      color: $grey-light;
      max-width: rem(390);
      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
    }

    .h4 {
      font-size: rem(18);
      line-height: rem(26);
      font-weight: 400;
    }

    ul {
      margin-top: rem(24);

      @include media-breakpoint-up(md) {
        margin-top: rem(60);
      }

      @include media-breakpoint-up(lgxl) {
        margin-top: rem(47);
      }

      @include media-breakpoint-up(xsm) {
        margin-top: rem(60);
      }

      li {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: rem(18);
        }

        .icon {
          display: inline-block;
          margin-right: rem(18);
          width: rem(31);
          height: rem(30);
        }
      }
    }
  }

  &__btn {
    font-size: rem(14);
    line-height: rem(32);
    font-weight: 700;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    transition: $t-hover;
    margin-top: rem(24);

    @include media-breakpoint-up(md) {
      margin-top: rem(65);
    }

    &:hover {
      opacity: 0.5;
    }

    .icon {
      display: inline-block;
      width: rem(16);
      height: rem(13);
      margin: rem(-8) 0 0 rem(3);
    }
  }

  &--reverse {
    .text-image__inner {
      flex-direction: column;

      @include media-breakpoint-up(md) {
        flex-direction: row-reverse;
      }
    }

    .text-image__text {
      justify-content: flex-start;
      margin: 0;

      @include media-breakpoint-up(md) {
        justify-content: center;
      }
      @include media-breakpoint-up(xsm) {
        justify-content: flex-start;
      }
    }
  }
}
