.fat-bikes {
  padding-top: rem(90);

  @include media-breakpoint-down(sm) {
    padding-top: rem(44);
    overflow: hidden;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: rem(100);

    @include media-breakpoint-down(sm) {
      margin-bottom: rem(12);
      flex-direction: column;
    }

    h2 {
      font-size: rem(40);
      line-height: rem(56);
      color: $machine-grey;
      font-weight: 700;
      max-width: rem(324);
      display: inline-block;

      @include media-breakpoint-down(sm) {
        font-size: rem(24);
        line-height: rem(34);
      }

      @include media-breakpoint-down(xs) {
        max-width: rem(246);
      }
    }
  }

  &__btn {
    font-size: rem(14);
    line-height: rem(32);
    font-weight: 700;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    transition: $t-hover;
    color: $magnum-black;

    &:hover {
      opacity: 0.5;
    }

    .icon {
      display: inline-block;
      width: rem(16);
      height: rem(13);
      margin: rem(-8) 0 0 rem(3);
    }
  }

  &__image {
    img {
      @include media-breakpoint-down(xs) {
        width: rem(528);
      }
    }
  }
}
