// BLACK
$black-100: rgba(0, 0, 0, 1);
$black-90: rgba(0, 0, 0, 0.9);
$black-80: rgba(0, 0, 0, 0.8);
$black-70: rgba(0, 0, 0, 0.7);
$black-60: rgba(0, 0, 0, 0.6);
$black-50: rgba(0, 0, 0, 0.5);
$black-40: rgba(0, 0, 0, 0.4);
$black-30: rgba(0, 0, 0, 0.3);
$black-20: rgba(0, 0, 0, 0.2);
$black-10: rgba(0, 0, 0, 0.1);
$black-0: rgba(0, 0, 0, 0);

// WHITE
$white-100: rgba(255, 255, 255, 1);
$white-90: rgba(255, 255, 255, 0.9);
$white-80: rgba(255, 255, 255, 0.8);
$white-70: rgba(255, 255, 255, 0.7);
$white-60: rgba(255, 255, 255, 0.6);
$white-50: rgba(255, 255, 255, 0.5);
$white-40: rgba(255, 255, 255, 0.4);
$white-30: rgba(255, 255, 255, 0.3);
$white-20: rgba(255, 255, 255, 0.2);
$white-10: rgba(255, 255, 255, 0.1);
$white-0: rgba(255, 255, 255, 0);

$white: #ffffff;
$black: #000000;
$pampas: #f8f7f3;
$lavander: #e1e8ea;
$white-smoke: #f6f5f0;
$silver-chalice: #ababab;
$friar-gray: #7a7a77;
$boulder: #777;

$mine-shaft: #202020;
$gallery: #eee;
$magnum-black: #151515;

// CUSTOM COLORS
$cyan: #26bbee;
$steelblue: #287bc8;
$aliceblue: #f1f8ff;
$lily-white: #eafaff;
$gainsboro: #e3e3e3;
$machine-grey: #312f30;
$machine-grey-1: #353535;
$darkslategrey: #3a3a3a;
$grey: #5c5c5c;
$grey-1: #ececec;
$grey-2: #737373;
$grey-light: #8a9093;
$grey-light-1: #413e40;
$grey-light-2: #c4ced2;
$grey-light-3: #494647;
$grey-light-4: #f6f6f6;
$grey-light-5: #4f5055;
$grey-light-6: #e9e9e9;
$grey-light-7: #f7f5f2;
$grey-light-8: #454244;
$grey-light-9: #7d7d7d;
$grey-light-10: #dadada;
$grey-dark: #606060;
$off-white: #f7f7f8;
$divider-grey: #d7e0e3;
$white-1: #fcfffd;

$red: red;

// PROJECT COLORS
$primary-color: $magnum-black;

$body-color: $black;
$body-bg-color: $white;
$headline-color: $magnum-black;
