.input-field {
  position: relative;
  width: 100%;
  margin-bottom: rem(17);
  @include media-breakpoint-down(sm) {
    margin-bottom: rem(10);
  }
  &.hidden {
    display: none;
  }

  .input-wrapper {
    position: relative;
    font-size: rem(16);
    line-height: line-height(16, 16);

    &.border {
      label {
        display: block;
        margin-bottom: rem(10);
      }

      input {
        border: 1px solid $black-40;
        border-radius: rem(3);
        padding: rem(11) rem(28) rem(11) rem(15);
        height: 100%;
      }
    }

    input {
      padding: rem(16);
      font-size: rem(14);
      line-height: line-height(14, 22);
      background: $white;
      color: $grey-light;
      font-weight: inherit;
      border: 1px solid $divider-grey;
      border-radius: rem(7);

      &::placeholder {
        font-family: $regular-font;
        color: $grey-light;
      }
    }

    label {
      display: none;
      margin-bottom: rem(10);
      font-family: $regular-font;
      font-size: rem(14);
      line-height: line-height(14, 24);
      font-weight: 500;
      color: $machine-grey;

      .login & {
        display: block;
      }

      .register & {
        display: block;
      }
    }

    // .border {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   border-bottom: rem(2) solid $primary-color;
    //   z-index: 2;
    //   opacity: .3;
    //   pointer-events: none;
    //   transition: $t-basic;
    // }

    // input:focus + label,
    // &.has-value input + label {
    //top: -1em;
    //transform: scale(.86);
    //color: $primary-color;
    // opacity: 0;
    // }

    // input:focus + label + .border {
    //   opacity: 1;
    //   border-width: rem(3);
    // }

    // @include hover() {
    //   .border {
    //     opacity: 1;
    //     border-width: rem(3);
    //   }
    // }

    // &.has-value {
    //   .border {
    //     opacity: 1;
    //     border-width: rem(3);
    //   }
    // }

    // &.has-error {
    //   .border {
    //     opacity: 1;
    //     border-color: $red;
    //     border-width: rem(3);
    //   }

    //   label {
    //     color: $red;
    //   }
    // }
  }
  .icon--eye {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(20);
    cursor: pointer;
  }
  &__error-message {
    display: none;
    align-items: center;
    position: absolute !important;
    top: 100%;
    left: 0;
    color: red;
    font-size: rem(12);
    line-height: line-height(12, 18);
    font-family: $headline-font;
    font-weight: 600;

    .register &,
    .login & {
      position: unset !important;
      margin: rem(20) 0;
    }

    .icon--warning {
      width: rem(12);
      height: rem(12);
      margin-right: rem(5);
    }

    &.active {
      display: flex;
    }
  }

  &.active-error {
    input {
      background-color: pink;
    }
    label {
      color: red;
    }
  }
}
