@import 'radio';

.radios-wrapper {
  position: relative;

  &__label {
    margin-bottom: rem(10);
  }

  &__radios {
    .eld:not(:first-child) {
      margin-left: rem(20);
    }
  }

  &__message {
    position: absolute !important;
    top: 100%;
    left: 0;
    font-size: rem(10);
    margin-top: rem(5);
    color: $red;
  }
}
