{% assign object = section.settings %}
<section class="about-hero">
<div class="media-wrapper">
    {%- render 'img',
    img: object.image,
    img_sm: object.image_mobile,
    img_md: '',
    img_lg: '',
    m_width: '500'
  -%}
</div>
</div>
</section>

{% schema %}
  {
  "name": "About Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Hero Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image Mobile"
    }
  ],
  "presets": [
    {
      "name": "About Hero"
    }
  ]
}  
{% endschema %}

