<section class="dashboard-suggest" style="background-image: url(https://via.placeholder.com/692x375.jpg?text=Pleaceholder);">
  <div class="container container--small">
       <div class="dashboard-suggest__inner">
         <h2>Suggest <br> to Magnum</h2>
         <p>A beautifully designed beach cruiser style electric bikes well suited to urban riding or commuting.</p>
         <a href="" class="btn btn--blue-fill">CONTACT US</a>
       </div>
  </div>
</section>
