{% assign object = section.settings %}
<section class="fat-tire-banner">
    <div class="container container--small">
        <div class="fat-tire-banner__content">
            <h2>{{ object.section_title }}</h2>
            <a href="{{ object.cta_url }}">{{ object.cta_text }}
                {% render 'icon', icon: 'arrow-up-right' %}</a>
        </div>
        <div class="fat-tire-banner__image">
           <div class="media-wrapper">
            {%render 'img',
            img: object.image,
           %}
           </div>
        </div>
    </div>
</section>
{% schema %}
  {
  "name": "Fat tire banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Hero Image"
    },
    {
        "type": "text",
        "id": "section_title",
        "label": "Section title",
        "default": "Have you seen our Fat Tire Bikes?"
    },
    {
        "type": "text",
        "id": "cta_text",
        "label": "CTA text",
        "default": "CHECK OUT FAT TIRE BIKES"
    },
    {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
    }
  ],
  "presets": [
    {
      "name": "Fat tire banner"
    }
  ]
}  
{% endschema %}
