<div class="filter-tags">
    <ul class="filter-tags__list">
      <li><a href="#">scout {% render 'icon', icon: 'close-black' %} </a></li>
      <li><a href="#">nomad {% render 'icon', icon: 'close-black' %} </a></li>
      <li><a href="#">height step II {% render 'icon', icon: 'close-black' %} </a></li>
      <li><a class="filter-tags__reset" href="#">Clear All </a></li>
    </ul>
  </div>