{% assign object = section.settings %}
<div class="still-have-questions">
 
  <div class="still-have-questions__image" style="background: url({{ object.image | img_url: 'master' }}) no-repeat; background-size:cover;background-position:center center;">
  </div>
   

</div>

{% schema %}
{
"name": "Still have questions",
"settings": [
{
  "type": "image_picker",
  "id": "image",
  "label": "Image"
}
],
"presets": [
  {
    "name": "Still have questions"
  }
]
}  
{% endschema %}
