<section class="text-image">
  <div class="container container--small">
    <div class="text-image__inner">
      <div class="text-image__image">
        <div class="media-wrapper">
          <!--image for desktop-->
          <img src="https://i.ibb.co/pPyS7WT/Rectangle-1351.jpg" loading="lazy" width="" height=""  alt="">
          <!--image for mobile-->
          <!-- <img src="https://i.ibb.co/x3HsBS4/Rectangle-1351.jpg"  alt=""> -->
        </div>
      </div>
      <div class="text-image__text">
        <div class="text-image__text-content">
          <h2 class="h2"> We’ve got your entire
            journey covered.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul>
            <li>
              {% render 'icon', icon: 'box' %}
            <h4 class="h4">  Throttle</p></h4>
            </li>
            <li>
              {% render 'icon', icon: 'box' %}
              <h4 class="h4">    Removable battery</h4>
            </li>
            <li>
              {% render 'icon', icon: 'box' %}
              <h4 class="h4">     Front lights</h4>
            </li>
            <li>
              {% render 'icon', icon: 'box' %}
              <h4 class="h4">     Front + rear disc brakes</h4>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="text-image text-image--reverse">
  <div class="container container--small">
    <div class="text-image__inner">
      <div class="text-image__image">
        <div class="media-wrapper">
             <!--image for desktop-->
          <img src="https://i.ibb.co/pPyS7WT/Rectangle-1351.jpg" loading="lazy" width="" height=""  alt="">
         <!--image for mobile-->
          <!-- <img src="https://i.ibb.co/x3HsBS4/Rectangle-1351.jpg"  alt=""> -->
        </div>
      </div>
      <div class="text-image__text">
        <div class="text-image__text-content">

          <h2 class="h2"> Join the community.
          </h2>
          <p>Thousands of riders already know the secret. ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="text-image">
  <div class="container container--small">
    <div class="text-image__inner">
      <div class="text-image__image">
        <div class="media-wrapper">
             <!--image for desktop-->
          <img src="https://i.ibb.co/ZGkz3TJ/Rectangle-1351-1.jpg" loading="lazy" width="" height=""  alt="">
          <!-- <img src="https://i.ibb.co/x3HsBS4/Rectangle-1351.jpg"  alt=""> -->
        </div>
      </div>
      <div class="text-image__text">
        <div class="text-image__text-content">
          <h2 class="h2"> Rider Stories </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <a href="#" class="text-image__btn" href="#"> Read Rider Stories {% render 'icon', icon: 'arrow-up-right' %} </a>
        </div>
      </div>
    </div>
  </div>

</section>


