<section class="top-question">
  <div class="container container--small">
    <div class="top-question__title">
      <h2 class="h2">Top question </h2>
      <a href="#" class="top-question__btn" href="#"> go to faq {% render 'icon', icon: 'arrow-up-right' %} </a>
    </div>
    <div class="top-question__tabs js-tabs-top-question">
      <ul class="top-question__tabs-list">
        <li class="js-tab-btn  u-d-flex u-align-center top-question__tabs-btn active" data-name="general">General</li>
        <li class="js-tab-btn  u-d-flex u-align-center top-question__tabs-btn" data-name="battery">Battery </li>
        <li class="js-tab-btn  u-d-flex u-align-center top-question__tabs-btn" data-name="settings">Display Settings  </li>
      
        <li class="js-tab-btn  u-d-flex u-align-center top-question__tabs-btn" data-name="troubleshooting">
          Troubleshooting</li>
        <li class="js-tab-btn  u-d-flex u-align-center top-question__tabs-btn" data-name="miscellaneous">Miscellaneous
        <li class="js-tab-btn  u-d-flex u-align-center top-question__tabs-btn" data-name="warranty">Warranty
      </ul>
      <div class="top-question__tabs-content">
        <div class="top-question__tabs-item-content js-tab-content active" data-name="general">
          <div class="accordion accordion--top-question js-accordion-top-question">

            <div class="accordion__item">
              <button type="button" class="accordion__item-button js-accordion-trigger">
                 <span>  How can I test ride a Magnum
                Bike?</span> </button>
              <div class="accordion__item-info">
                <div class="accordion__item-info-content ">
                    <ul>
                        <li>At your nearest dealer.Check out our  <a href="#">Dealer Locator</a>. </li>
                        <li>At our retail shop – <a href="#"> Location details  here.</a></li>
                        <li>Fill out a test ride waiver – <a href="#">here.</a></li>
                    </ul>
                    <div class="top-question__accordion">
                        <h2 class="h2">Maybe these articles would be helpful</h2>
                    <div class="top-question__accordion-cards">
                        <div class="top-question__accordion-card-item">
                            <div class="top-question__accordion-card-wrapper">
                                <img src="https://i.ibb.co/rppWbwW/Frame-10466.jpg" loading="lazy" width="" height=""  alt="">
                                <div class="top-question__accordion-card-text">
                                    <p>Electric bikes that will blow your mind Magnum</p>
                                    <a href="#" class="top-question__accordion-btn" href="#"> READ FULL ARTICLE{% render 'icon', icon: 'arrow-up-right' %} </a>
                                </div>
                            </div>
                        </div>
                        <div class="top-question__accordion-card-item">
                            <div class="top-question__accordion-card-wrapper">
                                <img src="https://i.ibb.co/rppWbwW/Frame-10466.jpg" loading="lazy" width="" height=""  alt="">
                                <div class="top-question__accordion-card-text">
                                    <p>Electric bikes that will blow your mind Magnum</p>
                                    <a href="#" class="top-question__accordion-btn" href="#"> READ FULL ARTICLE{% render 'icon', icon: 'arrow-up-right' %} </a>
                                </div>
                            </div>
                        </div>
                        <div class="top-question__accordion-card-item">
                            <div class="top-question__accordion-card-wrapper">
                                <img src="https://i.ibb.co/rppWbwW/Frame-10466.jpg" loading="lazy" width="" height=""  alt="">
                                <div class="top-question__accordion-card-text">
                                    <p>Electric bikes that will blow your mind Magnum</p>
                                    <a href="#" class="top-question__accordion-btn" href="#"> READ FULL ARTICLE{% render 'icon', icon: 'arrow-up-right' %} </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
              </div>
            </div>
            <div class="accordion__item">
              <button type="button" class="accordion__item-button js-accordion-trigger">
                <span>What are the classes of
                e-bikes?</span></button>
              <div class="accordion__item-info">
                <div class="accordion__item-info-content ">
                <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis laborum asperiores consectetur
                    exercitationem quaerat eligendi iste maiores dicta officiis voluptates.</p>
                </div>
              </div>
            </div>
            <div class="accordion__item">
              <button type="button" class="accordion__item-button js-accordion-trigger">
                <span>What is the difference between
                purchasing directly from Magnum Bikes online versus a certified dealer?</span></button>
              <div class="accordion__item-info">
                <div class="accordion__item-info-content ">
               <p>   Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis laborum asperiores consectetur
                exercitationem quaerat eligendi iste maiores dicta officiis voluptates.</p>
                </div>
              </div>
            </div>
            <div class="accordion__item">
              <button type="button" class="accordion__item-button js-accordion-trigger">
                <span>What is the top speed of my
                E-Bike?</span></button>
              <div class="accordion__item-info">
                <div class="accordion__item-info-content ">
                <p> New to Magnum’s 2021 lineup, the Scout is built for trail-riding and the weekend adventurer. Whether you’re camping, hunting, fishing, or going for a long ride on country backroads, the Scout will help anyone that wants to get on a dirt road, regardless of physical ability. </p>
                </div>
              </div>
            </div>

          </div>
        </div>
          <div class="top-question__tabs-item-content js-tab-content" data-name="battery">
            item 2
          </div>
          <div class="top-question__tabs-item-content js-tab-content" data-name="settings">
            item 3
          </div>
          <div class="top-question__tabs-item-content js-tab-content" data-name="troubleshooting">
            item 4
          </div>
          <div class="top-question__tabs-item-content js-tab-content" data-name="miscellaneous">
            item 5
          </div>
          <div class="top-question__tabs-item-content js-tab-content" data-name="warranty">
            item 6
          </div>
        </div>
      </div>
    </div>
</section>
