.stories-magnum {
  min-height: rem(322);
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center center;

  @include media-breakpoint-down(xsm) {
    background-size: contain;
  }

  @include media-breakpoint-down(lg) {
    min-height: rem(200);
  }

  @include media-breakpoint-down(sm) {
    background-position: top center;
  }

  @include media-breakpoint-down(xs) {
    min-height: rem(100);
    background-size: contain;
    padding-top: rem(48);
  }

  &__text {
    max-width: rem(667);
    margin-bottom: rem(-64);

    @include media-breakpoint-down(lg) {
      margin-bottom: rem(-30);
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
    @include media-breakpoint-down(xs) {
      max-width: rem(304);
    }
    p {
      font-size: rem(32);
      line-height: rem(49);
      color: $machine-grey;

      @include media-breakpoint-down(lg) {
        font-size: rem(28);
        line-height: rem(45);
      }

      @include media-breakpoint-down(sm) {
        font-size: rem(24);
        line-height: rem(34);
      }
    }
  }
}
