.stories-info {
  @include media-breakpoint-down(sm) {
    padding-top: rem(24);
  }

  .container {
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  &__head {
    margin-bottom: rem(60);

    @include media-breakpoint-down(sm) {
      padding: 0 rem(20px);
      margin-bottom: rem(40);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: rem(30);
    line-height: rem(44);
    color: $machine-grey;

    @include media-breakpoint-down(sm) {
      font-size: rem(24);
      line-height: rem(32);
    }
  }

  &__body {
    position: relative;

    .media-wrapper {
      padding-bottom: 56.03%;

      @include media-breakpoint-down(sm) {
        padding-bottom: 129.16%;
      }
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40.4%;
    padding: rem(56) rem(26);
    background-color: $white;

    @include media-breakpoint-down(md) {
      padding: rem(36) rem(20);
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      padding: rem(32);
      max-width: rem(328);
      bottom: rem(-2);
    }
  }

  &__content-inner {
    max-width: rem(310);
    margin: 0 auto;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }

    h3 {
      font-size: rem(24);
      line-height: rem(34);
      padding-bottom: rem(13);
      color: $machine-grey;
      font-weight: 500;

      @include media-breakpoint-down(sm) {
        padding-bottom: rem(14);
        font-size: rem(20);
        line-height: rem(28);
      }

      > * {
        font-size: inherit;
        line-height: inherit;
      }

      a {
        color: inherit;
      }
    }

    p {
      font-size: rem(14);
      line-height: rem(22);
      color: $grey-light;
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    margin-bottom: rem(11);
    font-size: rem(14);
    line-height: rem(24);

    &:last-child {
      margin-bottom: 0;
    }

    p,
    span {
      font-size: inherit;
      line-height: inherit;
      font-weight: 700;
      color: $grey-light;
    }

    p {
      padding-right: rem(26);

      &:last-child {
        padding-right: 0;
      }
    }

    span {
      position: relative;
      display: block;

      &::after {
        content: '';
        width: 4px;
        height: 4px;
        background-color: $grey-light;
        border-radius: 50%;
        position: absolute;
        left: rem(-14);
        top: 50%;
        transform: translateY(-50%);
      }

      &:first-child::after {
        display: none;
      }
    }
  }

  &__entry {
    margin-bottom: rem(14);
    font-size: rem(14);
    line-height: rem(22);
    color: $grey-light;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
