.home-text-image {
  &__inner {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
    }
  }

  &__image,
  &__text {
    width: 50%;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__image {
    .media-wrapper {
      padding-bottom: 86.82%;

      @include media-breakpoint-down(sm) {
        padding-bottom: 111%;
      }

      img {
        height: 100%;
      }
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(20);

    @include media-breakpoint-down(sm) {
      align-items: flex-start;
      padding: rem(32) rem(20);
    }
  }

  &__text-content {
    max-width: rem(382);
    width: 100%;

    p {
      font-size: rem(16);
      line-height: rem(24);
      color: $grey-light;

      @include media-breakpoint-down(sm) {
        font-size: rem(14);
        line-height: rem(24);
      }
    }

    h4 {
      font-size: rem(30);
      line-height: rem(44);
      font-weight: 700;
      color: $machine-grey;
      padding-bottom: rem(15);

      @include media-breakpoint-down(sm) {
        padding-bottom: rem(12);
        font-size: rem(28);
        line-height: rem(36);
      }
    }
  }

  &--reverse {
    .home-text-image__inner {
      flex-direction: row-reverse;

      @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
      }
    }
  }
}
