<section class="article">
  <div class="container container--small">
    <div class="grid">
      <div class="grid__item medium-ip--five-sixths medium-up--push-one-twelfth">
        <h1 class="article__title">{{ page.title }}</h1>

        <div class="article__body">
          {%- render 'text-content' with mod_content: page.content -%}
        </div>
      </div>
    </div>
  </div>
</section>
