<div class="shipping-returns__inner careers_heading">
  <div class="shipping-returns__col-left careers-left">
    <h1>{{page.title}}</h1>
    <p>{{page.metafields.simple-page.careers_description}}</p>
  </div>
  <div class="grid">
    <div class="grid__item medium-ip--five-sixths medium-up--push-one-twelfth">
      <div class="shipping-returns__col-right" style="margin: 0 auto;max-width: 800px;padding: 2rem 2rem 1rem 5rem;">
        {{page.content}}
        {% section 'image-with-text'%}
      </div>
    </div>
  </div>
</div>
