h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.25;
  color: $magnum-black;
  font-family: $regular-font;
  font-weight: 700;
  @include media-breakpoint-up(md) {
    line-height: 1.1;
  }
}

p {
  font-size: rem(15);
  line-height: rem(25);
  font-family: $regular-font;
  a {
    display: inline;
  }
}

ul,
ol {
  li {
    // font-family: $headline-font;
    font-family: $regular-font;
  }
}
span,
a {
  font-family: $regular-font;
}
h1,
.h1 {
  &,
  & * {
    font-size: rem(56);
    line-height: line-height(56, 64);

    @include media-breakpoint-up(md) {
      // font-size: rem(48);
    }

    @include media-breakpoint-up(xl) {
      // font-size: rem(60);
    }
  }
}

h2,
.h2 {
  &,
  & * {
    font-size: rem(32);
    line-height: line-height(32, 32);

    @include media-breakpoint-up(md) {
      font-size: rem(49);
      line-height: line-height(49, 49);
    }
  }
}

h3,
.h3 {
  &,
  & * {
    font-size: rem(32);
    line-height: line-height(32, 38);
  }
}

h4,
.h4 {
  &,
  & * {
    font-size: rem(40);
    line-height: line-height(40, 56);
  }
}

h5,
.h5 {
  &,
  & * {
    font-size: rem(17);

    @include media-breakpoint-up(md) {
      font-size: rem(19);
    }
  }
}

h6,
.h6 {
  &,
  & * {
    font-size: rem(15);

    @include media-breakpoint-up(md) {
      font-size: rem(17);
    }
  }
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  line-height: 1.25;
  color: $headline-color;
  font-family: $headline-font;
}

.display {
  &-1 {
    &,
    & * {
      font-size: rem(80);
    }
  }
  &-2 {
    &,
    & * {
      font-size: rem(72);
    }
  }
  &-3 {
    &,
    & * {
      font-size: rem(64);
    }
  }
  &-4 {
    &,
    & * {
      font-size: rem(56);
    }
  }
  &-5 {
    &,
    & * {
      font-size: rem(48);
    }
  }
  &-6 {
    &,
    & * {
      font-size: rem(40);
    }
  }
}

.u-p-large {
  font-size: rem(18);
  line-height: line-height(18, 24);

  @include media-breakpoint-up(md) {
    font-size: rem(20);
    line-height: line-height(20, 30);
  }
}

.u-p-small {
  &,
  & * {
    font-size: rem(13);
  }
}

.u-fw-300 {
  font-weight: 300;
}

.u-fw-400 {
  font-weight: 400;
}

.u-fw-500 {
  font-weight: 500;
}

.u-fw-600 {
  font-weight: 600;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: rem(10);
}

.mb-2 {
  margin-bottom: rem(20);
}

.mb-3 {
  margin-bottom: rem(30);
}
